{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "server",
  "main": "src/index.ts",
  "env" : {
    "production": {
      "name": "server-production",
      "main": "src/index.ts",
      "compatibility_date": "2025-06-21"
    },
  },
  "compatibility_date": "2025-06-21",
  // "compatibility_flags": [
  //   "nodejs_compat"
  // ],
  "vars": {
    "JWT_SECRET": "your-dev-secret-here",
    "PETFINDER_CLIENT_ID": "your-client-id"
    "PETFINDER_CLIENT_SECRET": "your-client-secret"
  },
  // "kv_namespaces": [
  //   {
  //     "binding": "MY_KV_NAMESPACE",
  //     "id": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  //   }
  // ],
  // "r2_buckets": [
  //   {
  //     "binding": "MY_BUCKET",
  //     "bucket_name": "my-bucket"
  //   }
  // ],
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "temanbaru",
      "database_id": "your-db-id"
    }
  ],
  // "ai": {
  //   "binding": "AI"
  // },
  // "observability": {
  //   "enabled": true,
  //   "head_sampling_rate": 1
  // }
}

